* {
    margin: 0;
    padding: 0;
}


header {
    background-image: url('../img/Header Background.png'); 
    background-repeat: no-repeat;
    height: 370px;
    display: flex;
    flex-direction: column;
    
}

.info-header {
    max-width: 700px; 
    margin: 80px auto;
    gap: 25px;
    color: #fff;
}

.butao button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin: 20px 0 0 15px; 
    cursor: pointer;
}

.butao #butao2 {
    background-color: #000;
    color: #fff;
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 900px;
    margin: auto;
}

.container #text2 {
    width: 300px;
    margin: auto;
}

.container #text2 h2 {
   margin-bottom: 20px;
   width: 200px;
   line-height: 34px;
}

.ultimo {
    margin: auto;
    padding: 50px;
    width: 700px;
}

.ultimo h2 {
    margin: auto;
    margin-bottom: 15px;
    width: 350px;
}

.ultimo h2 span {
    position: relative;
    left: 100px;
}